{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column -background">
  {{ partial "mobile_nav_toggle.html" . }}
      <div class="content-column-content">
        <h6>
          Hello! Thank you for taking the time to check out my site<br>

          <br>

          <h7> Here are some more links where you can find me at: <h7>

          </h5>
          <br>
          
          VIMEO.COM/JEMJUSTIN<br>
          <br>
          
          JEMJUSTINSUM@GMAIL.COM
        </h6>
      </div>
    </div>
  </div>
</div>
{{ end }}
