{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column -background">
  {{ partial "mobile_nav_toggle.html" . }}
      <div class="content-column-content">
        <h7>
          Hi, I am a designer and animator in Los Angeles<br>
          Thank you for taking the time to check out my site<br>

          <br>

          Here are some more links where you can reach me:<br>
          <br>
          
          VIMEO.COM/MOMODOTMOTION<br>
          <br>
          MOMODOTMOTION@GMAIL.COM<br>

          <br>
          <br>
          Have a nice day!

        </h7>
      </div>
    </div>
  </div>
</div>
{{ end }}
