{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column -background">
  {{ partial "mobile_nav_toggle.html" . }}
      <div class="content-column-content">
        <h7>
          Hi, I'm a designer / animator based in LA<br>
          Thank you for taking the time to check out my site!<br>
          Here are some more links where you can reach me:<br>
          <br>
          
          VIMEO.COM/JEMJUSTIN<br>
          
          JEMJUSTINSUM@GMAIL.COM
        </h7>
      </div>
    </div>
  </div>
</div>
{{ end }}
